/* Estilo para la barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #343a40; /* Cambié el color de fondo */
    color: #fff;
    padding: 20px;
}

.sidebar-header {
    text-align: center; /* Centra el texto en la barra lateral */
    font-weight: bold; /* Hace que el texto sea negrita */
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
    padding: 20px 0; /* Añade espaciado alrededor del texto (ajustado para mayor espacio) */
    margin-bottom: 20px; /* Espacio debajo del texto */
    color: #fff; /* Mantiene el texto blanco */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

/* Resto del estilo para el menú */
.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 15px 0;
}

.sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.sidebar-menu li i {
    margin-right: 10px;
}

.sidebar-menu li:hover {
    background-color: #495057; /* Color de fondo al pasar el mouse */
}

/* Estilo para el contenido principal */
.main-content {
    margin-left: 260px; /* Asegura que el contenido no quede cubierto por la barra lateral */
    padding: 20px;
}

.navbar-search input {
    width: 200px;
    padding: 5px;
}

.navbar-search button {
    padding: 5px 10px;
    margin-left: 5px;
}

.navbar-user-info .dropdown-menu {
    right: 0;
}

.flash-container .flash-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para los mensajes flash */
.flash-success {
    background-color: #28a745; /* Verde para mensajes de éxito */
    color: white;
}

.flash-error {
    background-color: #dc3545; /* Rojo para mensajes de error */
    color: white;
}
