/* Estilos generales */
body {
    background: #f5fdf5; /* Verde claro para frescura */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

/* Sidebar */
.sidebar {
    background-color: #2a7a4f; /* Verde oscuro para resaltar salud y naturaleza */
    color: white;
}

.sidebar-menu li {
    border-bottom: 1px solid #3b8b5f; /* Verde medio para sutileza */
}

.sidebar-menu li a:hover {
    color: #ff8c42; /* Naranja para resaltar interacción */
}

/* Botón de alternancia */
.toggle-btn {
    color: #ff8c42; /* Naranja vibrante */
}

/* Estilos para los mensajes flash */
.flash-success {
    background-color: #28c76f; /* Verde brillante para éxito */
}

.flash-danger {
    background-color: #ff4d4d; /* Rojo más suave para errores */
}

/* Botones */
.btn-primary {
    background-color: #e67e22; /* Naranja */
    border: 2px solid #e67e22;
}

.btn-primary:hover {
    background-color: #c95e00; /* Azul más oscuro al pasar el cursor */
    border-color: #c95e00;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}

.btn-outline-primary {
    border-color: #2a7a4f; /* Cambia el borde a verde */
    color: #2a7a4f; /* Cambia el color del texto */
}

.btn-outline-primary:hover {
    background-color: #2a7a4f; /* Fondo verde al pasar el ratón */
    border-color: #2a7a4f;
    color: white; /* Cambia el texto a blanco */
}

/*Separador*/
.separador {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.5; 
}

.separador::before,
.separador::after {
    content: "";
    flex-grow: 0.5; 
    border-top: 1px solid #000; /* Línea del separador */
    margin: 0 10px; /* Espacio entre la letra "O" y las líneas */
    opacity: 0.5; 
}

/* Resultados de receta */
.receta-generada {
    background-color: #e3f2fd; /* Azul claro para resaltar la receta */
}

.receta-generada h3 {
    color: #ff8c42; /* Naranja para títulos llamativos */
}

.receta-generada p {
    color: #2a7a4f; /* Verde para armonía visual */
}

/* Lista de ingredientes */
.ingredients-list li {
    background-color: #fffbe6; /* Amarillo suave para destacar ingredientes */
}

.card {
    height: 230px; /* Establece una altura fija para las tarjetas */
    overflow: hidden; /* Asegura que el contenido no se desborde si es muy grande */
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1;
    overflow-y: auto; /* Habilita el desplazamiento si el contenido es largo */
}

.card-title, .card-text, .fecha, .ingredientes {
    margin-bottom: 10px; /* Espaciado entre los elementos dentro de la tarjeta */
}
